/* ===============================Header================================== */
header{
	width: 100%;
	height: 100px;
	align-items: center;
	background-color: white;
	padding: 5px;
	display: flex;
	margin-right: 0px;
	justify-content: flex-end;
	
}
* {
    box-sizing: border-box;
}
#home{
	width: max-content;
	height: 100%;
}
#tbimg{
	width: auto;
	height: 100%;
}
.log{
	height: 60%;
	width: 15rem;
	display: flex;
	justify-content: space-between;
	margin-left:300px;
	margin-right: 100px;
}
.log a{
	width: 6rem;
	background-color: black;
	color: white;
	border-radius: 5px;
	cursor: pointer;

}
.log a h4{
	text-align: center;

}
body{
	min-height: auto;
	width: auto;
	background-color: white;
	font-family:"Montserrat", Arial, sans-serif;
	font-size: 15px;
}
/* ===============================NAV============================================ */
nav{
	position: sticky;
	width: 100%;
	height: 60px;
	top: 0;
	bottom: 0;
	background-color: black;
	font-size: 20px;
	margin: 0px;
}
.nav_container{
	height: 100%;
	width: 100%;
	display: flex;
}
.menu_link{
	height: 100%;
	width: 80%;
	color: white;
	display: flex;
	margin: 0px;
	align-items: center;
	justify-items: flex-start;
	justify-content: space-between;
}
.item{
	cursor: pointer;
	height: 100%;
	font-weight:600 ;		
	position: relative;
	list-style: none;
	margin: 0px 20px;
	align-content: center;
	padding: 5px;
}
#lienhe_item{
	margin-right: 0px;
}
.thuonghieu_item{
	position: relative;
	
}
.thuonghieu_list{
	position: absolute;
	height: 10rem;width: 10rem;
	top: 50px;right: 0px;
	display: flex;
	flex-direction: column;
	padding: 0px;
	background-color: black;
	display: none;
	left: -35px;
}
.thuonghieu_list li{
	height: 25%;
	align-content: center;
	text-align: center;
}
.thuonghieu_list li:hover{
	background-color: rgb(74, 72, 72);
}
#thuonghieu_item:hover > .thuonghieu_list{
	display: initial;
	
}
a{
	text-decoration: none;
	color: white;
}
li{
	list-style: none;
}
/* =================================CONTENT============================= */
main{
	width: 80%;
	height: 100%;
	background-color: white;
	float: right;
	
}
.content{
	align-items: center;
	display: grid;
	height: auto;
	width: 100%;
	margin-bottom: 0px;
	grid-template-rows:200px 1fr 1fr 100px;
	grid-template-areas: 
	"bn bn bn bn"
	"gg gg gg gg"
	"bc bc bc bc"
	"np np np np"

}
.banner{
	
	grid-area:bn;
	display: inline-flex;
	flex-direction: row;
}
.banner a{
	width: 100%;
}
#banner_img{

	cursor: pointer;
	height:200px;
	width: 100%;
}
.sanpham{
	height: 100%;
	grid-auto-rows: 100px;
}

.title{
	grid-column: 1/5;
	height: 100%;	
	align-content: center;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	margin: 0px;
	border-top:  1px solid black;
	background-color: lightsalmon;
}
.sanpham_giamgia{
	grid-area:gg;
	height:auto;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows:100px  400px ;
	grid-auto-rows: 400px;
	column-gap: 5px;row-gap: 5px;
}
.csanpham{
	width: 100%;
	background-color: white;
	height: 100%;	
	display: flexbox;
	color: black;
	cursor: pointer;
}
.csanpham:hover{
	border: 5px solid white;
	
}
a h3{
	width: max-content;
	margin: 0;
	margin-left: 5px;
}
.price{
	display:inline-flex;	
	justify-content: space-between;
}
#Saleproduct_price{
	text-decoration: line-through;
}
#sale_quatity{
	height:max-content;
	margin: 0px;
	margin-left: 5px;
}
a h5{
	
	margin: 0;
	margin-top: 5px	;
	margin-left: 5px;
	padding-right: 0px;
	word-break: break-all;
    white-space: normal;
    line-height: 1.2em; 
}
a h6{
	width: max-content;
}
.sanpham_banchay{
	grid-area:bc;
	height:auto;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows:100px  400px ;
	grid-auto-rows: 400px;
	column-gap: 5px;row-gap: 5px;
}

#next_page{
	cursor: pointer;
	padding: 5px;
	grid-area:np;
	text-align: center;
	color: black;
	
	padding: 0px;
}
#next_page i:hover{
	background-color: lightgray;
	border-radius: 10px;
	padding: 5px;
}


/* ===============================SIDEBAR================================== */
#sidebar{
	width: 20%;
	height: 80%;
	background-color: white;
	border-right: 1px hidden black;
	float: left;
	position: sticky;
	padding: 5px;
	top: 80px;
	border-right:0.5px black solid ;
}
.sidebar_content{
	height: 300px;
}
.Search{
	height: 200px;
	align-content: center;
}

.searchbar_content{
	width: 100%;
	display: flex;
	justify-items: auto;
	height: 50px;
}
#Search_bar{
	height: 100%;
	width: 80%;
	border: hidden;
	outline: none;
}
#Search_button{
	border: hidden;
	cursor: pointer;
	background-color: white;
	color: black;
	width: 20%;
	
}


/* ===============================FOOTER================================== */

footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	color: white;
	width: 100%;
	height: 200px;
	background-color: black;
	clear: both;
}
footer p{
	text-align: center;
}


